* {
  box-sizing: border-box;
}

body {
  padding: 100px;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  width: 400px;
  margin: 0 auto;
}

#search {
  padding: 10px;
  width: 100%;
  font-size: 1rem;
}

#hits {
  width: 100%;
}

.hit {
  border-radius: 3px;
  display: block;
  width: 100%;
  border: 1px solid #DDD;
  padding: 10px;
  margin: 10px 0;
}

.hit:hover, .hit.active {
  background: #F0F0F0;
}